body {
    margin: 0;
    padding: 0;
    background-image: url("../images/maxO_TVsaeZNlEunsplashmin2.jpg");
    background-repeat: no-repeat;
    background-position: 0px 80px;
    font-family: Arial, Helvetica, sans-serif;
}


/* DELIMITAÇÃO DE CONTEÚDOS*/

.data-content {
    width:940px;  
    height: 100%;
    margin: auto;
}


/* navbar init*/
.navbar {
    background: white;
    height: 80px;
}

.navbar .logo {
    height: 50%;
}

.navbar .data-content {
    display: flex;
    align-items: center;
}

/* navbar end*/

/* section-header init*/
.section-header {
    height: 750px;
}

.section-header .data-content {
    display: flex;
    justify-content: right;
}


.section-header .box-border {
    height: 350px;
    width: 350px;
    border: 2px solid white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 40px;
    padding: 20px;
}



.section-header .box-border .data {
    color: white;
    margin-left: 0 10px;
}

.section-header .box-border .data .subtitle {
    font-size: 2rem;
    margin: 0;
}

.section-header .box-border .data .title {
    font-size: 3rem;
    margin: 10px 0;
}

.section-header .box-border .data hr {    
    background-color: white;
    border: none;
    height: 6px;
    width: 80%;
    margin: 0;
}


/* section-header end */

/* section-highlight init */

.section-highlight {
    background: #33bbd8;
    height: 300px;
    margin-top: 50px;
}

.section-highlight .data-content{
    display: flex;
    justify-content: space-between;
}

.section-highlight .data-content .box{
    width: 25%;
    height: 200px;
    background: white;
    
    position: relative;
    top: -50px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section-highlight .data-content .box p {
    height: 100px;
    margin: 0px;
}

.section-highlight .data-content .box button {
    background: transparent;
    height: 20%;
    width: 40%;
    
    align-self: left;

    border: none;
    border: 1px solid #33bbd8;
}

/* section-highlight end */